@import "../utilities/variables";

* {
    font-family: "lucida";
}

.current-education {
    // background-color: blue;
    left: 70%;
    position: absolute;
    top: 55%;
    width: 63%;
    height: 503px;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.education-item {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    background-color: $light-lavender;
    padding: 8px 12px;
    font-size: 24px;
    &:hover {
        cursor: pointer;
    }
}

.education-form {
    // max-width: 340px;
    position: absolute;
    top: 51%;
    transform: translate(-25%, -50%);
    left: 12.5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.remove-education-button {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    background-color: $midnight-blue;
    margin-left: 10px;
    color: $light-lavender;
    padding: 8px 8px;
    font-size: 14px;

    &:hover {
        cursor: pointer;
    }
}

.item-div {
    position: relative;
    // background-color: aqua;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    margin-left: 8px;
}

.current-education-header {
    position: absolute;
    left: 70%;
    // background-color: green;
    white-space: nowrap;
    top: 5%;
    transform: translate(-50%, 10%);
    font-size: 64px;
    text-align: center;
}

.container-div {
    position: absolute;
    // background-color: green;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 30px 0px 0px;
}