@import "../utilities/variables";

* {
    font-family: "lucida";
}

.tag-container {
    margin-bottom: 20px;

    .experience-tag {
        padding: 10px 30px 10px 20px;
        border-radius: 40px;
        font-size: 48px;
        position: relative;
        margin-left: 10px;
    }
    &:hover {
        .experience-tag {
            background-color: #f0f0f0;
        }
        cursor: pointer;
    }
}

.generate-button {
    position: absolute;
    left: 45%;
    transform: translate(-50%);
    font-size: 32px;
    background-color: blue;
    margin-top: 20px;
    padding: 15px;
    border-radius: 30px;
}

.left-container {
    left: 0px;
    width: 21%;
    height: 100%;
    position: fixed;
    // background-color: green;
    border-right: 1px solid green;
}

.right-container {
    right: 0px;
    width: 79%;
    height: 100%;
    position: fixed;
    // display: flex;
    // background-color: orange;
}

.current-education {
    background-color: blue;
    left: 60%;
    position: absolute;
    top: 55%;
    width: 40%;
    height: 503px;
    transform: translate(-50%, -50%);
}

.education-item {
//     position: inherit;
//     border-radius: 15px;
    background-color: white;
//     padding: 5px 10px; 
//     float: left;
}

.edit-education-button {
//     position: inherit;
//     float: right;
    position: absolute;
    background-color: yellow;
    left: 100%;
    transform: translate(-100%);
}

.education-div {
    background-color: aqua;
}

// .relative-div {
//     position: absolute;
// }

.container-div {
    position: absolute;
    // background-color: green;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 30px 0px 0px;
}

.vl {
    border-left: 1px solid green;
    height: 100%;
    position: relative;
    margin-left: -.5px;
    top: 0;
  }

.greeting {
    font-size: 64px;
    margin-left: 60px;
    margin-top: 30px;
}